<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>URLWMS</key>
	<data>l+U3z+/CyWL8nka5GrH0q5NvMZgMrg2mCrvyNC6jS5/YlDyEFuPiymdQEQifpBNf974jbRIQVQzwz4MvqXYmnicIQQtzwm8spD4pNe4GHp32iN2k9DA9BNgnthF1mZBznpBEimvUv+KNmIZjMy2hZkCav0HD5Qodwhx8NUgEpGyUrz6z9STPpNLwmnSwP6kr/V6pjAX9+wYzOcksBm7BbCgHiXQtQ+GSWZRJtCw9uXk=</data>
	<key>URLDraw</key>
	<data>iO8t+uJvA4PUUSK1MlGpV9kH5/Yafm9i1cYft9UbTYpZhR2HCjDuwgPmUP46xcfCGlFnKR/8u0D5nDXmRyrvYrYbfzejLXDqn7Tfbu7/bYI3b1+LPCC0aKO8WrheVwrKNou79szh0XYvxtu138VJSE2oA33U6C7XZKUvliSvq7o1IoBPmNxP68yzI2qHOwFo</data>
</dict>
</plist>
